footer, nav ul{
    background-color: #60add6;
}
footer p{
    text-align: center;
    padding: 10px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
}

.UCV{
    font-size: 0.5em;
    vertical-align: sub;
    align-self: flex-end;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li:first-child {
    font-size: 30px;
}

nav ul li:nth-child(2) {
    font-size: 16px;
}

.busqueda-boton {
    color:#99c5dd;
}


.contenedor-cajas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.caja-estudiante {
    background-color: rgb(236, 235, 235);
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.caja-estudiante a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caja-estudiante:hover {
    transform-origin: center center;
    transform: rotate(10deg);
    zoom: 1.1;
    background-color: #99c5dd;
}

.foto-estudiante {
    width: 100px;
    height: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.nombre-estudiante {
    color:#60add6;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos de perfil */

h1, a{
    color: orange;
}

.correo:active{
    color: red;
}

.contenedor-principal {
    display: flex;
    align-items: stretch;
    gap: 5px;
}

.foto, .ficha{
    border: 1px solid #000;
}

.foto{
    overflow: hidden;
    border-radius: 60px 0 0 0;
}

.ficha{
    flex: 1;
    padding: 0px 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
    border: 1px solid #000;
    font-style: italic;
    font-size: 1.1em;
}

.datos, .MisDatos {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}
.MisDatos {
    margin-left: 30px;
}

.foto img {
    height: 100%;
}

/*IDs para el responsive y futura automatizacion*/

#search-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

#search-input {
    width: clamp(120px, 20vw, 200px);
}

#search-button {
    cursor: pointer;
}

#student-andreina {
    cursor: pointer;
}

#profile-name {
    font-size: clamp(24px, 4vw, 32px);
}
